<general-title *ngIf="book" title="{{ book.title }}"></general-title>

<div *ngIf="book" class="example-form">
  <div class="book-particular-title">
    <p>Autor: {{ book.title }}</p>
    <p class="book-particular-genre">Género: {{ book.genre }}</p>

    <!-- Now puts all the options, then only a div -->
    <div class="example-button-row">
      <button mat-raised-button class="book-particular-button">
        Añadir a favoritos<mat-icon>favorite_border</mat-icon>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-raised-button class="book-particular-button">
        Quitar de favoritos<mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-raised-button class="book-particular-button">
        Inicia sesión para añadir a favoritos <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>

  <div class="book-particular-div-image">
    <a><img class="book-particular-image" mat-card-image [src]="getImage(book)"/></a>
  </div>
</div>


<section-title title="Reseñas"></section-title>

<div>
  <review-card *ngFor="let review of reviews" reviewId="{{review.id}}"></review-card>
</div>


<div class="example-button-row">
  <button mat-raised-button color="primary" style="margin: 3%">
    Cargar más
  </button>
</div>

<!-- Now puts all the options, then only a div -->
<div *ngIf="book" class="example-button-row">
  <button mat-raised-button class="book-particular-button" (click)="uploadReview(book)">
    Publicar reseña<mat-icon>expand_less</mat-icon></button>
</div>
<div class="example-button-row">
  <button mat-raised-button class="book-particular-button">
    Inicia sesión para publicar tu reseña <mat-icon>person</mat-icon>
  </button>
</div>

<section-title title="Anuncios"></section-title>

<div class="offer-card">
  <offer-card *ngFor="let offer of offers"  offerId="{{ offer.id }}"></offer-card>
</div>

<div class="example-button-row">
  <button mat-raised-button color="primary" style="margin: 3%">
    Cargar más
  </button>
</div>

<!-- Now puts all the options, then only a div -->
<div *ngIf="book" class="example-button-row">
  <button mat-raised-button class="book-particular-button" (click)="uploadOffer(book)">
    Subir anuncio<mat-icon>expand_less</mat-icon></button>
</div>
<div class="example-button-row">
  <button mat-raised-button class="book-particular-button">
    Inicia sesión para subir tu anuncio <mat-icon>person</mat-icon>
  </button>
</div>
