a {
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;

}

.book-card {
    width: 25%;
    margin-bottom: 2%;
    margin-right: -11%;
    margin-left: 8%;
  }

.example-button-row{
    margin-left: 14%;
}
