<form class="example-form">

  <h1 style="font-weight: bold;">Modifica tu reseña de este libro</h1>
  <mat-divider style="margin-top: 2%; margin-bottom: 5%"></mat-divider>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Editorial</mat-label>
      <input matInput type="text" value={{text}} required>
    </mat-form-field></td>
  </tr></table>

  <div class="example-button-row">
    <button type="submit" mat-raised-button color="primary">Actualizar reseña</button>
  </div>

</form>


