
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__about">
                  <div class="footer__about__logo">
                      <a href="./index.html"><img src="img/logo.png" alt=""></a>
                  </div>
                  <ul>
                      <li>Dirección: C/ Tulipán S/N, 28933 Móstoles, Madrid</li>
                      <li>Correo: webapp6daw@gmail.com</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
              <div class="footer__widget">
                  <h6>Enlaces interesantes</h6>
                  <ul>
                    <li class="menu-has-children"><a [routerLink]="['contact']">CONTACTO</a></li>
                    <li class="menu-has-children"><a [routerLink]="['statistics']">ESTADISTICAS</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="footer__copyright">
                  <div class="footer__copyright__text">
                      <p> Copyright &copy;
                          <script>document.write(new Date().getFullYear());</script> All rights reserved
                  </div>
              </div>
          </div>
      </div>

