<footer class="footer spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__about">

                  <ul>
                      <li>Dirección: C/ Tulipán S/N, 28933 Móstoles, Madrid</li>
                      <li>Correo: webapp6daw@gmail.com</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
              <div class="footer__widget">
                  <h6>Enlaces interesantes</h6>
                  <ul>
                    <li class="menu-has-children"><a [routerLink]="['contact']">CONTACTO</a></li>
                    <li class="menu-has-children"><a [routerLink]="['statistics']">ESTADISTICAS</a></li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</footer>
<!-- Footer Section End -->
