<footer class="footer spad">
  <div class="container">
      <div class="row">
              <div class="footer__about">
                <div class="footer__about__logo">
                  <img src="assets/logo.png">
                </div>
                  <ul>
                      <li>Dirección: C/ Tulipán S/N, 28933 Móstoles, Madrid</li>
                      <li>Correo: webapp6daw@gmail.com</li>
                  </ul>
              </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
              <div class="footer__widget">
                  <h5>Enlaces interesantes</h5>
                  <li class="menu-has-children"><a [routerLink]="['contact']">CONTACTO</a></li>
                  <li class="menu-has-children"><a [routerLink]="['statistics']">ESTADISTICAS</a></li>
                  <br>
              </div>
          </div>
      </div>
    </div>
</footer>
<!-- Footer Section End -->
