<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div>
                <mat-toolbar >
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="hide()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Categorías</span>
                </mat-toolbar>
            </div>

            <div *ngIf="categories" class="hero__categories">
                <ul>
                    <li><a (click)="goSearch('Fantasia')">Fantasía</a></li>
                    <li><a (click)="goSearch('Literatura')">Literatura</a></li>
                    <li><a (click)="goSearch('Literatura Universal')">Literatura Universal</a></li>
                    <li><a (click)="goSearch('Literatura Clásica')">Literatura Clásica</a></li>
                    <li><a (click)="goSearch('Novela histórica')">Novela histórica</a></li>
                    <li><a (click)="goSearch('Policiaca')">Policiaca</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="search_field">
                <mat-form-field>
                    <mat-label>Encuentra tu proximo libro favorito</mat-label>
                    <input matInput #searchText type="text">
                </mat-form-field>
                <button mat-raised-button matTooltip="Info about the action" type="submit" class="site-btn"
                    aria-label="Button that displays a tooltip when focused or hovered over" (click)="goSearch(searchText.value)">
                    BUSCAR
                </button>
            </div>
            <div class="hero__item set-bg" data-setbg="">
                <div class="hero__text">
                    <span>LIBRO RECOMENDADO</span>
                    <search-title *ngIf="bestPick" title="{{bestPick.title}}"></search-title>
                    <p>Basado en tus búsquedas y libros favoritos.</p>
                    <button *ngIf="bestPick" class="primary-btn" (click)="goBestPick(bestPick)">Lee sus reseñas</button>
                </div>
            </div>
        </div>
    </div>
</div>