<general-title title="Página de administrador"></general-title>

<users-table></users-table>
<offers-table></offers-table>
<reviews-table></reviews-table>
<books-table></books-table>

<section-title title="Añadir un libro nuevo"></section-title>
<div>
    <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="newBook.title" type="text" required>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Autor</mat-label>
        <input matInput [(ngModel)]="newBook.author" type="text" required>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Género</mat-label>
        <input matInput [(ngModel)]="newBook.genre" type="text" required>
    </mat-form-field>
    
    <input #file type='file' name='imageFile' accept=".png, .jpg, .jpeg" />
</div>
<div class="new_book_button">
    <button (click)="addNewBook()" mat-raised-button type="submit">Subir libro</button>
</div>
