<general-title title="Página de administrador"></general-title>
<section-title title="Usuarios"></section-title>
<section-title title="Anuncios"></section-title>
<section-title title="Reseñas"></section-title>
<section-title title="Libros"></section-title>


<section-title title="Añadir un libro nuevo"></section-title>


<general-form text="Título"></general-form>
<general-form text="Autor"></general-form>
<general-form text="Género"></general-form>


<mat-card-content style="margin-bottom: 4%; margin-top: 4%;">
    <input type='file' name='imageField' accept=".png, .jpg, .jpeg" />
</mat-card-content>

<button mat-raised-button color="primary">Subir libro</button>