<general-title title="Página de administrador"></general-title>
<section-title title="Usuarios"></section-title>
<table class="admin_table">
    <tr>
        <th>id</th>
        <th>Usuario</th>
        <th>Correro</th>
        <th>Imágen</th>
        <th>Opciones</th>
    </tr>
    <tbody *ngIf="users">
        <tr *ngFor="let user of users.content">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td class="center"><img [src]="userImage(user)"></td>
            <td></td>
        </tr>
    </tbody>
</table>
<button *ngIf="usersButton" (click)="loadMoreUsers(usersPage + 1)" mat-raised-button>Cargar más usuarios</button>

<section-title title="Anuncios"></section-title>
<table class="admin_table">
    <tr>
        <th>id</th>
        <th>Libro</th>
        <th>Vendedor</th>
        <th>Fecha</th>
        <th>Descripcción</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Opciones</th>
    </tr>
    <tbody *ngIf="offers">
        <tr *ngFor="let offer of offers.content">
            <td>{{offer.id}}</td>
            <td>{{offer.book.title}}</td>
            <td>{{offer.seller.name}}</td>
            <td>{{offer.date}}</td>
            <td>{{offer.description}}</td>
            <td>{{offer.price}}</td>
            <td class="center"><img [src]="offerImage(offer)"></td>
            <td></td>
        </tr>
    </tbody>
</table>
<button *ngIf="offersButton" (click)="loadMoreOffers(offersPage + 1)" mat-raised-button>Cargar más anuncios</button>

<section-title title="Reseñas"></section-title>
<table class="admin_table">
    <tr>
        <th>id</th>
        <th>Libro</th>
        <th>Autor</th>
        <th>Fecha</th>
        <th>Texto</th>
        <th>Opciones</th>
    </tr>
    <tbody *ngIf="reviews">
        <tr *ngFor="let review of reviews.content">
            <td>{{review.id}}</td>
            <td>{{review.book.title}}</td>
            <td>{{review.author.name}}</td>
            <td>{{review.date}}</td>
            <td>{{review.text}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<button *ngIf="reviewsButton" (click)="loadMoreReviews(reviewsPage + 1)" mat-raised-button>Cargar más reseñas</button>

<section-title title="Libros"></section-title>
<table class="admin_table">
    <tr>
        <th>id</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Género</th>
        <th>Imágen</th>
        <th>Opciones</th>
    </tr>
    <tbody *ngIf="books">
        <tr *ngFor="let book of books.content">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td class="center"><img [src]="bookImage(book)"></td>
            <td></td>
        </tr>
    </tbody>
</table>
<button *ngIf="booksButton" (click)="loadMoreBooks(booksPage + 1)" mat-raised-button>Cargar más libros</button>

<section-title title="Añadir un libro nuevo"></section-title>

<mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="newBook.title" type="text" required>
</mat-form-field>

<mat-form-field>
    <mat-label>Autor</mat-label>
    <input matInput [(ngModel)]="newBook.author" type="text" required>
</mat-form-field>

<mat-form-field>
    <mat-label>Género</mat-label>
    <input matInput [(ngModel)]="newBook.genre" type="text" required>
</mat-form-field>

<input #file type='file' name='imageFile' accept=".png, .jpg, .jpeg" />

<button (click)="addNewBook()" mat-raised-button type="submit">Subir libro</button>