<form (ngSubmit)="submitLoginForm()">
    <mat-form-field>
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput [(ngModel)]="username" type="text" name="username" placeholder="Nombre de Usuario" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Contraseña" required>
    </mat-form-field>

    <div class="blog__item__text">
        <button class="blog__btn" type="submit">Inicia Sesión</button>
    </div>
</form>
