.example-form {
  min-width: 20%;
  max-width: 70%;
  width: 100%;
  margin: 8%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8%;
}

.div-checkout {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}

.example-card {
  background-color: #f5f5f5;
}

.checkout-title-card {
  text-align: center;
  font-weight: bold;
  margin: 3%;
  font-size: 30px;
}

.checkout-content-card {
  margin-bottom: 4%;
}

.checkout-p {
  margin-left: 4%;
  font-size: 18px;
}

.checkout-h2 {
  font-weight: bold;
  margin-left: 4%;
  margin-top: 3%;
}

.checkout-price-span {
  text-align: right;
  color: red;
}
