
<form class="example-form">

<section-title title="Datos de facturación"></section-title>

  <div style="display: inline-block; width: 65%">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>País</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Ciudad, código postal</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Calle, portal y piso</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Telefono</mat-label>
      <input matInput type="number" placeholder="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Correo</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Número de cuenta</mat-label>
      <input matInput type="number" placeholder="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Pin</mat-label>
      <input matInput type="password" placeholder="">
    </mat-form-field></td>
  </tr></table>

  </div>

  <div *ngIf="offer" class="div-checkout">

    <mat-card class="example-card">
      <mat-card-title class="checkout-title-card">Tu pedido</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="checkout-content-card">
        <h2 class="checkout-h2">Producto: </h2>
        <p class="checkout-p">{{offer.book.title}}</p>
        <h2 class="checkout-h2">Vendedor: </h2>
        <p class="checkout-p">{{offer.seller.name}}</p>
        <h2 class="checkout-h2">Total: <span class="checkout-price-span">{{offer.price}} euros</span></h2>
      </mat-card-content>
      <mat-divider></mat-divider>
        <button mat-raised-button type="submit" color="primary">Comprar</button>
    </mat-card>
  </div>

</form>



