{{>header}}

<!-- Admin Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="section-title">
            <h2>Página de amdinistrador</h2>
        </div>
        <div class="checkout__form">

            <!-- Users -->
            <h4>Usuarios</h4>
            <table class="admin_table">
                <tr>
                    <th>id</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Libros favoritos</th>
                    <th>Reseñas leidas</th>
                    <th>Historial de búsqueda</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
                {{#userList}}
                <tr class="blog__item__text">
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td class="checkout__input"><input type="text" value="{{email}}"></td>
                    <td class="checkout__input"><a href="#" class="blog__btn">Eliminar</a></td>
                    <td class="checkout__input"><a href="#" class="blog__btn">Eliminar</a></td>
                    <td class="checkout__input"><a href="#" class="blog__btn">Eliminar</a></td>
                    <td class="checkout__input"><a href="#" class="blog__btn">Reemplazar</a></td>

                    <td class="checkout__input">
                        <a href="#" class="blog__btn">Guardar cambios</a>
                        <a href="/admin/delete-user/{{id}}" class="blog__btn">Eliminar usuario</a>
                    </td>
                </tr>
                {{/userList}}
            </table>

            <!-- Offers -->
            <h4>Anuncios</h4>
            <table class="admin_table">
                <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Edición</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Libro</th>
                    <th>Vendedor</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
                {{#offerList}}
                <tr class="blog__item__text">
                    <td>{{id}}</td>
                    <td class="checkout__input"><input type="date" value="{{date}}"></td>
                    <td class="checkout__input"><input type="text" value="{{edition}}"></td>
                    <td class="checkout__input"><input type="text" value="{{description}}"></td>
                    <td class="checkout__input"><input type="number" value={{price}}></td>
                    <td class="checkout__input"><input type="text" value="{{book}}"></td>
                    <td>{{user.name}}</td>
                    <td class="checkout__input"><a href="#" class="blog__btn">Reemplazar</a></td>

                    <td class="checkout__input">
                        <a href="#" class="blog__btn">Guardar cambios</a>
                        <a href="/admin/delete-offer/{{id}}" class="blog__btn">Eliminar oferta</a>
                    </td>
                </tr>
                {{/offerList}}
            </table>

            <!-- Reviews -->
            <h4>Reseñas</h4>
            <table class="admin_table">
                <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Texto</th>
                    <th>Libro</th>
                    <th>Autor</th>
                    <th></th>
                </tr>
                {{#reviewList}}
                <tr class="blog__item__text">
                    <form action="/admin/edit-review/{{id}}">
                        <td>{{id}}</td>
                        <td class="checkout__input"><input type="date" name="date" value="{{date}}"></td>
                        <td class="checkout__input"><input type="text" name="text" value="{{text}}"></td>
                        <td>{{book.title}}</td>
                        <td>{{user.name}}</td>

                        <td class="checkout__input">
                            <button type="submit" class="blog__btn">Guardar cambios</button>
                            <a href="/admin/delete-review/{{id}}" class="blog__btn">Eliminar reseña</a>
                        </td>
                    </form>

                </tr>
                {{/reviewList}}
            </table>

            <!-- Books -->
            <h4>Libros</h4>
            <table class="admin_table">
                <tr>
                    <th>id</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Género</th>
                    <th>Imágen</th>
                    <th></th>
                </tr>
                {{#bookList}}
                <tr class="blog__item__text">
                    <form action="/admin/edit-book/{{id}}">
                        <td>{{id}}</td>
                        <td class="checkout__input"><input type="text" name="title" value="{{title}}"></td>
                        <td class="checkout__input"><input type="text" name="author" value="{{author}}"></td>
                        <td class="checkout__input"><input type="text" name="genre" value="{{genre}}"></td>
                        <td class="checkout__input"><a href="#" class="blog__btn">Reemplazar</a></td>

                        <td class="checkout__input">
                            <button type="submit" class="blog__btn">Guardar cambios</button>
                            <a href="/admin/delete-book/{{id}}" class="blog__btn">Eliminar libro</a>
                        </td>
                    </form>
                </tr>
                {{/bookList}}
            </table>

            <!-- Add new book -->
            <div class="checkout__order">
                <h4>Añadir un libro nuevo</h4>
                <form action="/admin/add-book">
                    <div class="checkout__input">
                        <p>Introduzca el título del libro:</p>
                        <input type="text" name="title" placeholder="Titulo" required>
                    </div>
                    <div class="checkout__input">
                        <p>Introduzca el autor del libro:</p>
                        <input type="text" name="author" placeholder="Autor" required>
                    </div>
                    <div class="checkout__input">
                        <p>Introduzca el género principal del libro:</p>
                        <input type="text" name="genre" placeholder="Género" required>
                    </div>

                    <button class="site-btn">Subir foto de página</button>
                    <button type="submit" class="site-btn">Subir libro</button>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Admin Section End -->

<!-- Footer -->
{{>footer}}