{{>header}}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/books-banners/la-verdad-sobre-el-caso-savolta-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>{{book.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Comments Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="section-title">
            <h2>Reseñas</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        {{#logged}}
                        <div class="blog__item__text">
                            <a href="/uploadReview/{{book.id}}" class="blog__btn">Publica tu reseña<span
                                    class="arrow_right"></span></a>
                        </div>
                        {{/logged}}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {{#reviews}}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{date}}</li>
                                </ul>
                                <h5><a href="#">{{user.name}}</a></h5>
                                <p>{{text}} </p>
                            </div>
                        </div>
                    </div>
                    {{/reviews}}
                </div>
                {{^reviews}}
                <p>Actualmente no hay reseñas de este libro</p>
                {{/reviews}}
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más reseñas <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
<!-- Comments Section End -->

<!-- Offers Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="section-title">
            <h2>Anuncios</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        {{#logged}}
                        <div class="blog__item__text">
                            <a href="/upload-offer-page/{{book.id}}" class="blog__btn">Vende tu libro<span
                                    class="arrow_right"></span></a>
                        </div>
                        <hr>
                        {{/logged}}
                        <h4>Filtrar por precio</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="0" data-max="100">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    {{#offers}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <img src="/offers/{{id}}/image">
                            <div class="product__item__text">
                                <h6><a href="/offer-page/{{id}}">{{book.title}}</a></h6>
                                <h5>{{price}} euros</h5>
                            </div>
                        </div>
                    </div>
                    {{/offers}}
                </div>
                {{^offers}}
                <p>Actualmente no hay anuncios de este libro</p>
                {{/offers}}
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más anuncios <span class="arrow_right"></span></a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Offers Section End -->

<!-- Footer -->
{{>footer}}