{{>header}}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Contáctanos</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Inicio</a>
                        <span>Contáctanos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Description Section Begin -->

<div class="container">
    <div class="contact__widget">
        <h4>Estamos aquí para ayudarte</h4>
        <p>Ponemos a tu disposición la siguiente información para que nos contactes en caso de duda con cualquiera
            de los servicios que te ofrecemos.</p>
    </div>
</div>


<!-- Description Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Teléfono</h4>
                    <p>+34 687138577</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Dirección</h4>
                    <p>Calle Pintor Rosales, 32, Madrid</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Correo electrónico</h4>
                    <p>readme@tienda.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12148.64823183581!2d-3.728525062269527!3d40.42741030406445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42286c769a3a9f%3A0x1f08aa4ec52b853f!2sP.%C2%BA%20del%20Pintor%20Rosales%2C%2032%2C%2028008%20Madrid!5e0!3m2!1ses!2ses!4v1675759676965!5m2!1ses!2ses"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Madrid</h4>
            <ul>
                <li>+34 687138577</li>
                <li>Calle Pintor Rosales, 32</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

<!-- Footer -->
{{>footer}}