{{>header}}

{{>search}}
<!--<div class="hero__text">
    <a href="/algorithmbooks" class="primary-btn">Algoritmo</a>
</div>-->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="section-title">
            <h2>Más libros recomendados</h2>
        </div>
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg">
                        <h5><a href="#">EJEMPLO 1</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg">
                        <h5><a href="#">EJEMPLO 2</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg">
                        <h5><a href="#">EJEMPLO 3</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg">
                        <h5><a href="#">EJEMPLO 4</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg">
                        <h5><a href="#">EJEMPLO 5</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
<!-- Categories Section End -->

<!-- Footer -->
{{>footer}}