{{>header}}

<!-- Login Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Identifícate</h4>
            <form action="/login" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        {{#loginererror}}
                            <p style="color:rgb(255, 0, 0);">Nombre o contraseña incorrectos.</p>
                        {{/loginererror}}
                        <div class="checkout__input">
                            <p>Usuario<span>*</span></p>
                            <input type="text" name="username" required>
                        </div>
                        <div class="checkout__input">
                            <p>Contraseña<span>*</span></p>
                            <input type="password" name="password" required>
                        </div>
                        
                        <div class="blog__item__text">
                            <input type="submit" value="Iniciar sesión" class="blog__btn">
                        </div>
					    <input type="hidden" name="_csrf" value="{{token}}"/>
                    </div>
                    

            </form>
            <!-- <div class="col-lg-4 col-md-6">
            </div>
            <div class="blog__item__text">
                <a href="./user-page.html" class="blog__btn">Iniciar sesión<span class="arrow_right"></span></a>
                <a href="./register-page.html" class="blog__btn">Crear cuenta<span class="arrow_right"></span></a>
            </div> -->
        </div>
    </div>
</section>
<!-- Login Section End -->

<!-- Footer -->
{{>footer}}