{{>header}}

<!-- Login Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>CONTRASEÑA INCORRECTA</h4>
            <form action="/login" method="post">
                <div class="row">
                    
                    

            </form>
            <!-- <div class="col-lg-4 col-md-6">
            </div>
            <div class="blog__item__text">
                <a href="./user-page.html" class="blog__btn">Iniciar sesión<span class="arrow_right"></span></a>
                <a href="./register-page.html" class="blog__btn">Crear cuenta<span class="arrow_right"></span></a>
            </div> -->
        </div>
    </div>
</section>
<!-- Login Section End -->

<!-- Footer -->
{{>footer}}