{{>header}}

<section class="container">
    <div class="section-title">
        {{#sold}}
            <h2>Ejemplar vendido</h2>
        {{/sold}}
        {{^sold}}
            <h2>Compra este ejemplar</h2>
        {{/sold}}
        
    </div>
</section>

<!-- Offer Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="/offers/{{offer.id}}/image">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{offer.book.title}}</h3>
                    <h4>Vendedor: {{offer.user.name}}</h4>
                    <div class="product__details__price">{{offer.price}} EUR</div>
                    <p>{{offer.description}}</p>

                    {{#sold}}
                    <p>Ejemplar de {{offer.user.name}} vendido a {{offer.buyer.name}}.</p>
                    {{/sold}}

                    {{^sold}}
                    {{#logged}}
                    {{#own}}
                    <a href="/update-offer/{{offer.id}}" class="primary-btn">Editar</a>
                    {{/own}}

                    {{^own}}
                    <a href="/checkout/{{offer.id}}" class="primary-btn">Comprar</a>
                    {{/own}}
                    {{/logged}}

                    {{^logged}}
                    <a href="/login" class="primary-btn">Inicia sesión para comprar este libro</a>
                    {{/logged}}
                    {{/sold}}

                    <ul>
                        <li><b>Autor</b> <span>{{offer.book.author}}</span></li>
                        <li><b>Editorial</b> <span>{{offer.edition}}</span></li>
                        <li><b>Género</b> <span>{{offer.book.genre}}</span></li>
                        <li><b>Comparte este anuncio</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offer Section End -->

<!-- Footer -->
{{>footer}}