{{>header}}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/books-banners/la-verdad-sobre-el-caso-savolta-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>La verdad sobre el caso Savolta</h2>
                    <div class="breadcrumb__option">
                        <span>Compra uno</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Offer Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="img/books-offers/example-book.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Anuncio de ejemplo</h3>
                    <h4>Vendedor: Usuario1</h4>
                    <div class="product__details__price">10€</div>
                    <p>Este es un libro imaginario que estoy vendiendo a modo de ejemplo.</p>
                    <a href="./checkout-page.html" class="primary-btn">COMPRAR</a>
                    <ul>
                        <li><b>Autor</b> <span>Eduardo Mendoza</span></li>
                        <li><b>Editorial</b> <span>Planeta</span></li>
                        <li><b>Género</b> <span>Novela</span></li>
                        <li><b>Subjenero</b> <span>Policiaca</span></li>
                        <li><b>Comparte este anuncio</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offer Section End -->

<!-- Footer -->
{{>footer}}