{{>header}}

<!-- Statistics Section Begin -->
<div class="section-title">
    <h2>Estadísticas</h2>
</div>
<div class="container">
    <div class="checkout__form">
        <h4>Número de libros, usuarios, reseñas y ofertas en la web.</h4>

        <div id="users" data-num="{{userNumber}}"></div>
        <div id="books" data-num="{{bookNumber}}"></div>
        <div id="offers" data-num="{{offerNumber}}"></div>
        <div id="reviews" data-num="{{reviewNumber}}"></div>

        <canvas id="chart"></canvas>
        <script src="js/statistics.js"></script>
    </div>
</div>
<!-- Statistics Section End -->

<!-- Footer -->
{{>footer}}