{{>header}}

<section class="container">
    <div class="section-title">
        <h2>{{review.book.title}}</h2>
    </div>
</section>


<!-- Upload review Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Modifica tu reseña de este libro</h4>
            <form action="/updated-review/{{review.id}}" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Reseña<span>*</span></p>
                            <input type="text" value="{{review.text}}" name="text" required>
                        </div>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                        <button type="submit" class="site-btn">Actualizar reseña</button>
                    </div>
            </form>
        </div>
    </div>
</section>
<!-- Upload review Section End -->

<!-- Footer -->
{{>footer}}