{{>header}}

<!-- Register Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Modificar perfil de usuario</h4>
            <form action="/updatedProfile" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Correo electrónico<span>*</span></p>
                            <!--<input type="text" name="email" required>-->
                            <input type="text" name="email" value={{email}} required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <button type="button" class="site-btn">FOTO DE PERFIL<span>*</span></button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <input type="submit" value="Guardar cambios" class="btn btn-white py-3 px-4"/>
            </form>
        </div>
    </div>
</section>
<!-- Register Section End -->

<!-- Footer -->
{{>footer}}

