{{>header}}

<!-- Register Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Perfil de usuario</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p><strong>Nombre de usuario: </strong>{{name}}</p>
                        </div>
                        <div class="checkout__input">
                            <p><strong>Correo electrónico: </strong>{{email}}</p>
                        </div>
                    </div>
                    {{#hasImage}}
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <img class="product__details__pic__item--large" src="/users/{{name}}/image" alt="">
                        </div>
                    </div>
                    {{/hasImage}}
            </form>
            <div class="blog__item__text">
                <a href="/updateProfile" class="blog__btn">Modifica tu perfil<span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- Register Section End -->



<!-- Favourites Section Begin -->
<section class="product spad">
    <div class="container">
        <hr>
        <div class="section-title">
            <h2>Tus libros favoritos</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    {{#favourites}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="blog__item__text">
                                <img class="product__item__pic set-bg" src="/books/{{id}}/image">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="/book/{{id}}">{{title}}</a></h6>
                            </div>
                        </div>
                        <div class="blog__item__text">
                            <a href="/deleteFavourite/{{id}}" class="blog__btn">Quitar de favoritos<span
                                    class="arrow_right"></span></a>
                        </div>
                    </div>
                    {{/favourites}}
                </div>             
                {{^favourites}}
                <p>Actualmente no tienes libros favoritos</p>
                {{/favourites}}
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más libros <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Favourites Section End -->




<!-- Offers Section Begin -->
<section class="product spad">
    <div class="container">
        <hr>
        <div class="section-title">
            <h2>Tus anuncios</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    {{#offers}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <img src="/offers/{{id}}/image">
                            <div class="product__item__text">
                                <h6><a href="/offer-page/{{id}}">{{book.title}}</a></h6>
                                <h5>{{price}}</h5>
                            </div>
                            <div class="blog__item__text">
                                <a href="/update-offer/{{id}}" class="blog__btn">Editar anuncio<span
                                        class="arrow_right"></span></a>
                            </div>
                            <div class="blog__item__text">
                                <a href="/deleteOffer/{{id}}" class="blog__btn">Eliminar anuncio<span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {{/offers}}
                </div>
                {{^offers}}
                <p>Actualmente no tienes anuncios subidos</p>
                {{/offers}}
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más anuncios <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offers Section End -->



<!-- Reviews Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="section-title">
            <h2>Tus reseñas</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {{#reviews}}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{date}}</li>
                                </ul>
                                <div class="product__item__text">
                                    <h6><a href="/book/{{book.id}}">{{book.title}}</a></h6>
                                </div>
                                <p>{{text}} </p>
                                <div class="blog__item__text">
                                    <a href="/modifyReview/{{id}}" class="blog__btn">Editar reseña<span
                                            class="arrow_right"></span></a>
                                </div>
                                <div class="blog__item__text">
                                    <a href="/deleteReview/{{id}}" class="blog__btn">Eliminar reseña<span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/reviews}}
                </div>
                {{^reviews}}
                <p>Actualmente no tienes reseñas publicadas</p>
                {{/reviews}}
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más reseñas <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reviews Section End -->



<!-- Shopping history Section Begin -->
<section class="product spad">
    <div class="container">
        <hr>
        <div class="section-title">
            <h2>Tu historial de compra-venta</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    {{#historial}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <img src="/offers/{{id}}/image">
                            <div class="product__item__text">
                                <h6><a href="/offer-page/{{id}}">{{book.title}}</a></h6>
                                <h5>{{price}}</h5>
                            </div>
                        </div>
                    </div>
                    {{/historial}}
                </div>
                {{^historial}}
                <p>Actualmente no tienes historial de compra-venta</p>
                {{/historial}}
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más historial de compra-venta <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping history Section End -->


<!-- Footer -->
{{>footer}}