{{>header}}

<!-- Register Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Perfil de usuario</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p><strong>Nombre de usuario: </strong>Usuario1</p>
                        </div>
                        <div class="checkout__input">
                            <p><strong>Correo electrónico: </strong>correowapo@urjc.es</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <img class="product__details__pic__item--large" src="img/latest-product/lp-3.jpg" alt="">
                        </div>
                    </div>
            </form>
            <div class="blog__item__text">
                <a href="#" class="blog__btn">Modifica tu perfil<span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- Register Section End -->

<!-- Offers Section Begin -->
<section class="product spad">
    <div class="container">
        <hr>
        <div class="section-title">
            <h2>Tus anuncios</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="./offer-page.html">La verdad sobre el caso Savolta</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Anuncio</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Anuncio</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Anuncio</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Anuncio</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más anuncios <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offers Section End -->

<!-- Shopping history Section Begin -->
<section class="product spad">
    <div class="container">
        <hr>
        <div class="section-title">
            <h2>Historial de compras y ventas</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="./offer-page.html">La verdad sobre el caso Savolta</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Anuncio</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Anuncio</a></h6>
                                <h5>5.00 €</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más productos <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping history Section End -->

<!-- Favourites Section Begin -->
<section class="product spad">
    <div class="container">
        <hr>
        <div class="section-title">
            <h2>Libros favoritos</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="./book-particular-page.html">La verdad sobre el caso Savolta</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Libro</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__item__text">
                    <a href="#" class="blog__btn">Cargar más libros <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Favourites Section End -->

<!-- Footer -->
{{>footer}}