

.offer-card-image {
  width: 100%;
  height: 100%;
}

.offer-card-h2 {
  font-weight: bold;
  margin-left: 4%;
  margin-top: 3%;
  text-align: center;
  word-wrap: break-word;
}

.offer-card-h2-price {
  font-weight: bold;
  margin-left: 4%;
  margin-top: 3%;
  text-align: center;
  color:red
}

a {
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.example-card {
    width: 270px; /* Establece el ancho deseado */
    height: 400px;
}

.example-card mat-card-content {
  height: 70%;
}
