


<form class="example-form">

  <h1 style="font-weight: bold;">Datos de facturación</h1>

<mat-divider style="margin-top: 2%; margin-bottom: 5%"></mat-divider>

  <div style="display: inline-block; width: 60%">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>País</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Ciudad, código postal</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Calle, portal y piso</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Telefono</mat-label>
      <input matInput type="number" placeholder="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Correo</mat-label>
      <input matInput type="text" placeholder="">
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Número de cuenta</mat-label>
      <input matInput type="number" placeholder="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Pin</mat-label>
      <input matInput type="password" placeholder="">
    </mat-form-field></td>
  </tr></table>

  </div>

  <div style="display: inline-block; width: 30%; vertical-align: top;">

    <mat-card class="example-card" style="background-color: #f5f5f5;">
      <mat-card-title style="text-align: center; font-weight: bold; margin: 3%; font-size: 30px;">Tu pedido</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content style="margin-bottom: 4%;">
        <h2 style="font-weight: bold; margin-left: 4%;margin-top: 3%;">Producto</h2>
        <p style="margin-left: 4%;font-size: 18px;">Harry Potter</p>
        <h2 style="font-weight: bold; margin-left: 4%;">Vendedor</h2>
        <p style="margin-left: 4%;font-size: 18px;">Paco</p>
        <h2 style="font-weight: bold; margin-left: 4%;">Total: <span style="text-align: right; color: red">5 EUR</span></h2>
      </mat-card-content>
      <mat-divider></mat-divider>
        <button mat-raised-button type="submit" color="primary">Comprar</button>
    </mat-card>
  </div>

</form>



