<general-title *ngIf="book" title="{{book.title}}"></general-title>

<section-title title="Sube tu libro"></section-title>
<section-title title="Detalles del libro"></section-title>

<div class="left-column">

  <general-form text="Editorial" type="text"></general-form>
  <general-form text="Descripción" type="text"></general-form>
  <general-form text="Price" type="number"></general-form>

</div>

<div *ngIf="book" class="right-column">
  <mat-card class="card-upload-offer">
    <mat-card-title class="card-title-upload-offer">Tu
      libro</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content-upload-offer">
      <input type='file' name='imageField' accept=".png, .jpg, .jpeg" />
    </mat-card-content>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" (click)="newOffer(book)">Subir libro</button>
  </mat-card>
</div>
