<general-title *ngIf="book" title="{{book.title}}"></general-title>

<section-title title="Sube tu libro"></section-title>
<section-title title="Detalles del libro"></section-title>

<mat-form-field>
  <mat-label>Editorial</mat-label>
  <input matInput [(ngModel)]="newOffer.edition" type="text" required>
</mat-form-field>

<mat-form-field>
  <mat-label>Descripción</mat-label>
  <input matInput [(ngModel)]="newOffer.description" type="text" required>
</mat-form-field>

<mat-form-field>
  <mat-label>Precio</mat-label>
  <input matInput [(ngModel)]="newOffer.price" type="number" required>
</mat-form-field>

<div *ngIf="book" class="right-column">
  <mat-card class="card-upload-offer">
    <mat-card-title class="card-title-upload-offer">Tu
      libro</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content-upload-offer">
      <input #file type='file' name='imageField' accept=".png, .jpg, .jpeg" />
    </mat-card-content>
    <mat-divider></mat-divider>
    <button (click)="addNewOffer(book)" mat-raised-button type="submit">Subir anuncio</button>
  </mat-card>