<h1 style="font-weight: bold; text-align: center; font-size: 30px;"><u>Nacidos de la Bruma</u></h1>

<div class="example-form">

  <h1 style="font-weight: bold;">Sube tu reseña</h1>
  <mat-divider style="margin-top: 2%; margin-bottom: 5%"></mat-divider>

  <h1 style="font-weight: bold;">Cuenta al mundo que te ha parecido</h1>
  <mat-divider style="margin-top: 2%; margin-bottom: 5%"></mat-divider>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Descripción de la reseña</mat-label>
      <input matInput type="text" placeholder="" required>
    </mat-form-field></td>
  </tr></table>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="newReview(23)">Subir reseña</button>
  </div>

</div>

