<general-title *ngIf="book" title="{{book.title}}"></general-title>

<div class="review-form">

  <section-title title="Sube tu reseña"></section-title>

  <section-title title="Cuenta al mundo que te ha parecido"></section-title>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input matInput [(ngModel)]="newReview.text" type="text" required>
  </mat-form-field>

  <div *ngIf="book">
    <button (click)="addNewReview(book)" mat-raised-button type="submit">Subir reseña</button>
  </div>

</div>

