<form (ngSubmit)="submitRegisterForm()">

    <mat-form-field>
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput [(ngModel)]="username" type="username" name="username" placeholder="Nombre de Usuario" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Contraseña" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input matInput [(ngModel)]="email" type="email" name="email" placeholder="Correo electrónico" required>
    </mat-form-field>

    <div class="blog__item__text">
        <button class="blog__btn" type="submit">Registrarse</button>
    </div>
</form>