{{>header}}
<div class="section-title">
    <h2>Página de administrador</h2>
</div>

<!-- Admin Section Begin -->
    <div class="container">
        <div class="checkout__form">

            <!-------------------------------------------- Users -------------------------------------------->
            <h4>Usuarios</h4>
            <table class="admin_table" >
                <tr>
                    <th>id</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Administrator</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <table class="admin_table" id ="adminUsers">
                    {{#userList}}
                    <tr class="blog__item__text" >
                        <form action="/admin/users/{{id}}/update" method="post" enctype="multipart/form-data">
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td class="checkout__input"><input type="text" name="email" value="{{email}}"></td>
                            <td title="Editar imagen" class="checkout__input">
                                <a href="#"><img src="/users/{{name}}/image" height="100"></a>
                                <input type='file' name='imageField' accept=".jpg, .jpeg" />
                            </td>
                            <td class="checkout__input">
                                <button title="Guardar cambios" type="submit" class="blog__btn"><i
                                        class="fa fa-save"></i></button>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                                <a title="Eliminar usuario" href="/admin/users/{{id}}/delete" class="blog__btn"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </form>
                    </tr>
                    {{/userList}}
                    {{^userList}}
                    <p id="noMoreAdminUsers"></p>
                    {{/userList}}
                </table>
            </table>
            
            <button type="button" class="site-btn" id="moreAdminUsersContentButton" onClick=moreAdminUsers()>
                <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                    style="display: none"></span>
                <span id="moreContentText">Cargar más</span>
            </button>
            
        

            <!------------------------------------------- Offers -------------------------------------------->
            <h4>Anuncios</h4>
            <table class="admin_table" >
                <tr>
                    <th>id</th>
                    <th>Libro</th>
                    <th>Vendedor</th>
                    <th>Fecha</th>
                    <th>Edición</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
                <table class="admin_table" id = "adminOffers">
                    {{#offerList}}
                    <tr class="blog__item__text" >
                        <form action="/admin/offers/{{id}}/update" method="post" enctype="multipart/form-data">
                            <td>{{id}}</td>
                            <td>{{book.title}}</td>
                            <td>{{seller.name}}</td>
                            <td class="checkout__input"><input type="date" name="date" value="{{date}}"></td>
                            <td class="checkout__input"><input type="text" name="edition" value="{{edition}}"></td>
                            <td class="checkout__input"><input type="text" name="description" value="{{description}}"></td>
                            <td class="checkout__input"><input type="number" step="0.01" name="price" value={{price}}></td>
                            <td title="Editar imagen" class="checkout__input">
                                <a href="#"><img src="/offers/{{id}}/image" height="100"></a>
                                <input type='file' name='imageField' accept=".jpg, .jpeg" />
                            </td>

                            <td class="checkout__input">
                                <button title="Guardar cambios" type="submit" class="blog__btn"><i
                                        class="fa fa-save"></i></button>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                                <a title="Eliminar anuncio" href="/admin/offers/{{id}}/delete" class="blog__btn"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </form>
                    </tr>
                    {{/offerList}}
                    {{^offerList}}
                    <p id="noMoreAdminOffers"></p>
                    {{/offerList}}
                </table>
            </table>
            <button type="button" class="site-btn" id="moreAdminOffersContentButton" onClick=moreAdminOffers()>
                <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                    style="display: none"></span>
                <span id="moreContentText">Cargar más</span>
            </button>

            <!----------------------------------------- Reviews ------------------------------------------->
            <h4>Reseñas</h4>
            <table class="admin_table">
                <tr>
                    <th>id</th>
                    <th>Libro</th>
                    <th>Autor</th>
                    <th>Fecha</th>
                    <th>Texto</th>
                    <th></th>
                </tr>
                <table class="admin_table" id = "adminReviews">
                    {{#reviewList}}
                    <tr class="blog__item__text" >
                        <form action="/admin/reviews/{{id}}/update" method="post" enctype="multipart/form-data">
                            <td>{{id}}</td>
                            <td>{{book.title}}</td>
                            <td>{{author.name}}</td>
                            <td class="checkout__input"><input type="date" name="date" value="{{date}}"></td>
                            <td class="checkout__input"><input type="text" name="text" value="{{text}}"></td>

                            <td class="checkout__input">
                                <button title="Guardar cambios" type="submit" class="blog__btn"><i
                                        class="fa fa-save"></i></button>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                                <a title="Eliminar reseña" href="/admin/reviews/{{id}}/delete" class="blog__btn"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </form>
                    </tr>
                    {{/reviewList}}
                    {{^reviewList}}
                    <p id="noMoreAdminReviews"></p>
                    {{/reviewList}}
                </table>
            </table>
            <button type="button" class="site-btn" id="moreAdminReviewsContentButton" onClick=moreAdminReviews()>
                <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                    style="display: none"></span>
                <span id="moreContentText">Cargar más</span>
            </button>

            <!------------------------------------------- Books ------------------------------------------->
            <h4>Libros</h4>
            <table class="admin_table">
                <tr>
                    <th>id</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Género</th>
                    <th>Imágen</th>
                    <th></th>
                </tr>
                <table class="admin_table" id = "adminBooks">
                    {{#bookList}}
                    <tr class="blog__item__text" >
                        <form action="/admin/books/{{id}}/update" method="post" enctype="multipart/form-data">
                            <td>{{id}}</td>
                            <td class="checkout__input"><input type="text" name="title" value="{{title}}"></td>
                            <td class="checkout__input"><input type="text" name="author" value="{{author}}"></td>
                            <td class="checkout__input"><input type="text" name="genre" value="{{genre}}"></td>
                            <td title="Editar imagen" class="checkout__input">
                                <a href="#"><img src="/books/{{id}}/image" height="100"></a>
                                <input type='file' name='imageField' accept=".jpg, .jpeg" />
                            </td>

                            <td class="checkout__input">
                                <button title="Guardar cambios" type="submit" class="blog__btn"><i
                                        class="fa fa-save"></i></button>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                                <a title="Eliminar libro" href="/admin/books/{{id}}/delete" class="blog__btn"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </form>
                    </tr>
                    {{/bookList}}
                    {{^bookList}}
                    <p id="noMoreAdminBooks">Actualmente no hay anuncios de este libro</p>
                    {{/bookList}}
                </table>
            </table>
            <button type="button" class="site-btn" id="moreAdminBooksContentButton" onClick=moreAdminBooks()>
                <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true" style="display: none"></span>
                <span id="moreContentText">Cargar más</span>
            </button>

            <!-- Add new book -->
            <div class="checkout__order">
                <h4>Añadir un libro nuevo</h4>
                <form action="/admin/books" method="post" enctype="multipart/form-data">
                    <div class="checkout__input">
                        <p>Introduzca el título del libro:</p>
                        <input type="text" name="title" placeholder="Titulo" required>
                    </div>
                    <div class="checkout__input">
                        <p>Introduzca el autor del libro:</p>
                        <input type="text" name="author" placeholder="Autor" required>
                    </div>
                    <div class="checkout__input">
                        <p>Introduzca el género principal del libro:</p>
                        <input type="text" name="genre" placeholder="Género" required>
                    </div>
                    <div class="checkout__input">
                        <p>Seleccione la imagen de portada:</p>
                        <input type='file' name='imageField' accept=".jpg, .jpeg" />
                    </div>
                    <button type="submit" class="site-btn">Subir libro</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </form>
            </div>
        </div>
    </div>
<!-- Admin Section End -->

<!-- Footer -->
{{>footer}}