{{>header}}

<div class="section-title">
    <h2>Libros</h2>
</div>

{{>search}}

<!-- Book Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row featured__filter" id = "Books">
            {{#books}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                        <a href="/book/{{id}}"><img src="/books/{{id}}/image"></a>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/book/{{id}}">{{title}}</a></h6>
                    </div>
                </div>
            </div>
            {{/books}}

            {{^books}}
            <p id="noMoreBooks">Actualmente no hay libros</p>
            {{/books}}
        </div>
        <button type="button" class="site-btn" id="moreContentButton" onClick=moreContent()>
            <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true" style="display: none"></span>
            <span id="moreContentText">Cargar más</span>
        </button>
    </div>
</section>
<!-- Book Section End -->

<!-- Footer -->
{{>footer}}