{{>header}}
<div class="section-title">
    <h2>{{book.title}}</h2>
</div>

<section class="container">
    <div class="row">
        <div class="col-lg-6">


            <div class="sidebar__fav">
                <p><strong>Autor: </strong>{{book.author}}</p>
                <p><strong>Género: </strong>{{book.genre}}</p>
                {{#logged}}
                {{#isfav}}
                <div class="blog__item__text">
                    <a href="/removefavorite/{{book.id}}" class="blog__btn">Quitar de Favoritos<span
                            class="icon_heart"></span></a>
                </div>
                {{/isfav}}
                {{^isfav}}
                <div class="blog__item__text">
                    <a href="/addfavorite/{{book.id}}" class="blog__btn">Añadir a Favoritos<span
                            class="icon_heart_alt"></span></a>
                </div>
                {{/isfav}}
                {{/logged}}
            </div>

            {{^logged}}
            <div class="blog__item__text">
                <a href="/user-page" class="blog__btn">Inicia sesión para añadir a favoritos<span
                        class="fa fa-user"></span></a>
            </div>
            {{/logged}}

        </div>
        <div class="col-lg-6">
            <div class="img-responsive">
                <img src="/books/{{book.id}}/image">
            </div>
        </div>
    </div>
</section>

<!-- Reviews Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Reseñas</h4>
        </div>
        <div class="row featured__filter" id="Reviews">
            {{#reviews}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__text">
                        <i class="fa fa-calendar-o"></i> {{date}}
                        <h6 class="bold"><a href="/book/{{book.id}}">{{author.name}}</a></h6>
                        {{text}}
                    </div>
                </div>
            </div>
            {{/reviews}}
        </div>

        {{^reviews}}
        <p id="noMoreReviews">Actualmente no hay reseñas de este libro</p>
        {{/reviews}}

        <div class="blog__item__text">
            {{#logged}}
            <a href="/upload-review/{{book.id}}" class="blog__btn">Publica tu reseña</a>
            {{/logged}}
            {{^logged}}
            <a href="/user-page" class="blog__btn">Inicia sesión para publicar tu reseña<span
                    class="fa fa-user"></span></a>
            {{/logged}}
            <button type="button" class="site-btn" id="moreBookReviewsButton" onClick="moreBookReviews('{{book.id}}')">
                <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                    style="display: none"></span>
                <span id="moreContentText">Cargar más</span>
            </button>
        </div>
    </div>
</section>
<!-- Reviews Section End -->



<!-- Offers Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Anuncios</h4>
        </div>
        <div class="row featured__filter" id="Offers">
            {{#offers}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                        <a href="/offer-page/{{id}}"><img src="/offers/{{id}}/image"></a>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/offer-page/{{id}}">{{book.title}}</a></h6>
                        <h5>{{price}} euros</h5>
                    </div>
                </div>
            </div>
            {{/offers}}

            {{^offers}}
            <p id="noMoreOffers">Actualmente no hay anuncios de este libro</p>
            {{/offers}}

        </div>

        <div class="blog__item__text">
            {{#logged}}
            <a href="/upload-offer-page/{{book.id}}" class="blog__btn">Vende tu libro</a>
            {{/logged}}
            {{^logged}}
            <a href="/user-page" class="blog__btn">Inicia sesión para publicar tu anuncio<span
                    class="fa fa-user"></span></a>
            {{/logged}}
            <button type="button" class="site-btn" id="moreBookOffersButton" onClick="moreBookOffers('{{book.id}}')">
                <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                    style="display: none"></span>
                <span id="moreContentText">Cargar más</span>
            </button>
        </div>
    </div>
</section>
<!-- Offers Section End -->

<!-- Footer -->
{{>footer}}