{{>header}}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Compra tu libro</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">

        </div>
        <div class="checkout__form">
            <h4>Datos de facturación</h4>
            <form action="/buy-offer/{{offer.id}}">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Nombre<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Apellido<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>País<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input">
                            <p>Dirección completa<span>*</span></p>
                            <input type="text" placeholder="Ciudad, código postal" class="checkout__input__add">
                            <input type="text" placeholder="Dirección, portal, piso">
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Teléfono<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Correo<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Número de cuenta<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Pin<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Tu pedido</h4>
                            <div class="checkout__order__products">Producto</div>
                            <ul>{{offer.book.title}}</ul>
                            <div class="checkout__order__products">Vendedor</div>
                            <ul>{{offer.seller.name}}</ul>
                            <ul>
                                <div class="checkout__order__total">Total <span>{{offer.price}} EUR</span></div>
                                <div class="checkout__input__checkbox">
                                </div>
                                <button type="submit" class="site-btn">Comprar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

<!-- Footer -->
{{>footer}}