{{>header}}


<!-- Description Section Begin -->
<div class="container">
    <div class="section-title">
        <h2>Contáctanos</h2>
    </div>
    <div class="contact__widget">
        <h4>Estamos aquí para ayudarte</h4>
        <p>Ponemos a tu disposición la siguiente información para que nos contactes en caso de duda con cualquiera
            de los servicios que te ofrecemos.</p>
    </div>
</div>
<!-- Description Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_box-checked"></span>
                    <h4>Inovando</h4>
                    <p>Tu página de libros de referencia</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Dirección</h4>
                    <p>C/ Tulipán S/N, 28933 Móstoles, Madrid</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Correo electrónico</h4>
                    <p>dawdawdaw289@gmail.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Date un tiempo</h4>
                    <p>Para tomarte un descanso y leer tus libros favoritos</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15406.040010748331!2d-3.8755584431587953!3d40.330508719229705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e6fe665ff4f%3A0x740e3a4ade56a85e!2sEscuela%20T%C3%A9cnica%20Superior%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica%20-%20ETSII%20URJC!5e0!3m2!1ses!2ses!4v1677866407844!5m2!1ses!2ses"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Madrid</h4>
            <ul>
                <li>C/ Tulipán S/N, 28933 Móstoles, Madrid</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

<!-- Footer -->
{{>footer}}