{{>header}}

<div class="section-title">
    <h2>Inicio</h2>
</div>

{{>search}}

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="section-title">
            <h2>Más libros recomendados</h2>
        </div>
        <div class="row">
            <div class="categories__slider owl-carousel">
                {{#recommendedBooks}}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a href="/book/{{id}}"><img src="/books/{{id}}/image"></a>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/book/{{id}}">{{title}}</a></h6>
                        </div>
                    </div>
                </div>
                {{/recommendedBooks}}
            </div>
        </div>
    </div>
    <hr>
</section>
<!-- Categories Section End -->

<!-- Footer -->
{{>footer}}