{{>header}}

<!-- Register Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Crea una cuenta</h4>
            <form action="/users" method="post" enctype="multipart/form-data" class="appointment-form">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            {{#registerError}}
                            <p style="color:rgb(255, 0, 0);">Credenciales inválidas. Elige otro nombre de usuario.</p>
                            {{/registerError}}
                            <p>Nombre de usuario<span>*</span></p>
                            <input type="text" name="name" class="form-control" placeholder="Nombre" required>
                        </div>
                        
                        <div class="checkout__input">
                            <p>Contraseña<span>*</span></p>
                            <input type="password" name="encodedPassword" class="form-control" placeholder="Contraseña" required>
                        </div>

                        <div class="checkout__input">
                            <p>Correo electrónico<span>*</span></p>
                            <input type="text" name="email" class="form-control" placeholder="Email" required>
                        </div>

                        <input type='file' name='imageField' accept=".jpg, .jpeg" />
            </form>
            <div class="blog__item__text">
                <div class="blog__item__text">
                    <input type="submit" value="Crear cuenta" class="blog__btn">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <input type="hidden" name="roles" value="USER"/>
                </div>                
            </div>
        </div>
    </div>
</section>
<!-- Register Section End -->

<!-- Footer -->
{{>footer}}