{{>header}}

<section class="container">
    <div class="section-title">
        <h2>{{offer.book.title}}</h2>
    </div>
</section>


<!-- Upload offer Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Modifica los detalles de tu anuncio</h4>
            <form action="/updated-offer/{{offer.id}}" method="post" enctype="multipart/form-data" class="appointment-form">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Edición<span>*</span></p>
                            <input type="text" value={{offer.edition}} name="edition" required>
                        </div>
                        <div class="checkout__input">
                            <p>Descripción<span>*</span></p>
                            <input type="text" value="{{offer.description}}" name="text" required>
                        </div>
                        <div class="checkout__input">
                            <p>Precio<span>*</span></p>
                            <input type="number" step="0.01" value={{offer.price}} name="price" required>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Foto de tu anuncio</h4>
                            <div class="checkout__order">
                                <div class="product__item__pic set-bg" data-setbg="/offers/{{offer.id}}/image">
                                </div>
                                <input type='file' name='imageField' accept=".jpg, .jpeg" />
                            </div>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                            <button type="submit" class="site-btn">Actualizar anuncio</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</section>
<!-- Upload offer Section End -->

<!-- Footer -->
{{>footer}}