{{>header}}

<!-- Register Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Modificar perfil de usuario</h4>
            <form action="/updateProfile" method="post" enctype="multipart/form-data" class="appointment-form">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Correo electrónico<span>*</span></p>
                            <!--<input type="text" name="email" required>-->
                            <input type="text" name="email" value={{email}} required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <div class="product__item__pic set-bg" data-setbg="/users/{{name}}/image" alt="">
                            </div>
                            <input type='file' name='imageField' accept=".jpg, .jpeg" />
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <div class="blog__item__text">
                        <input type="submit" value="Guardar cambios" class="blog__btn">
                    </div>
            </form>
            
        </div>
    </div>
</section>
<!-- Register Section End -->

<!-- Footer -->
{{>footer}}

