{{>header}}

<section class="container">
    <div class="section-title">
        <h2>{{book.title}}</h2>
    </div>
    <div class="checkout__form">
        <h4>Sube tu libro</h4>
    </div>
</section>



<!-- Upload offer Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Detalles del libro</h4>
            <form action="/books/{{book.id}}/offers" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Edición<span>*</span></p>
                            <input type="text" name="edition" required>
                        </div>
                        <div class="checkout__input">
                            <p>Descripción<span>*</span></p>
                            <input type="text" name="text" required>
                        </div>
                        <div class="checkout__input">
                            <p>Precio<span>*</span></p>
                            <input type="number" step="0.01" name="price" required>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Tu libro</h4>
                            <input type="hidden" name="_csrf" value="{{token}}" />
                            <input type='file' name='imageField' accept=".png, .jpg, .jpeg" />
                            <button type="submit" class="site-btn">SUBIR LIBRO</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Upload offer Section End -->

<!-- Footer -->
{{>footer}}