{{>header}}

<div class="section-title">
    <h2>Perfil de usuario</h2>
</div>

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Tus datos</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p><strong>Nombre de ususario: </strong>{{name}}</p>
                            <p><strong>Correo electrónico: </strong>{{email}}</p>
                        </div>
                    </div>
                    {{#hasImage}}
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <img class="product__details__pic__item--large" src="/users/{{name}}/image" alt="">
                        </div>
                    </div>
                    {{/hasImage}}
            </form>
            <div class="blog__item__text">
                <a href="/updateProfile" class="blog__btn">Modifica tu perfil<span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
</section>


<!-- Favourites Section Begin -->
<section class="featured spad">

    <div class="container" id="favoritesContainer">
        <div class="checkout__form">
            <h4>Tus libros favoritos</h4>
        </div>
        <div class="row featured__filter" id="favoriteBooks">
            {{#favourites}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                        <a href="/book/{{id}}"><img src="/books/{{id}}/image"></a>
                        <ul class="featured__item__pic__hover">
                            <li><a title="Eliminar de favoritos" href="/delete-favourite-user-page/{{id}}"><i
                                        class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/book/{{id}}">{{title}}</a></h6>
                    </div>
                </div>
            </div>
            {{/favourites}}

            {{^favourites}}
            <p id="noMoreFavorites">Actualmente no tienes libros favoritos</p>
            {{/favourites}}
        </div>
        <button type="button" class="site-btn" id="moreContentButton" onClick=moreUserFavorites()>
            <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                style="display: none"></span>
            <span id="moreContentText">Cargar más</span>
        </button>
    </div>
</section>
<!-- Favourites Section End -->

<!-- Offers Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Tus anuncios</h4>
        </div>
        <div class="row featured__filter" id="userOffers">
            {{#offers}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                        <a href="/offer-page/{{id}}"><img src="/offers/{{id}}/image"></a>
                        <ul class="featured__item__pic__hover">
                            <li><a title="Editar" href="/update-offer/{{id}}"><i class="fa fa-pencil"></i></a></li>
                            <li><a title="Eliminar" href="/delete-offer/{{id}}"><i class="fa fa-trash"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/offer-page/{{id}}">{{book.title}}</a></h6>
                        <h5>{{price}}</h5>
                    </div>
                </div>
            </div>
            {{/offers}}

            {{^offers}}
            <p id="noMoreUserOffers">Actualmente no tienes anuncios subidos</p>
            {{/offers}}

        </div>
        <button type="button" class="site-btn" id="moreOfferContentButton" onClick=moreUserOffers()>
            <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                style="display: none"></span>
            <span id="moreContentText">Cargar más</span>
        </button>
    </div>
</section>
<!-- Offers Section End -->



<!-- Reviews Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Tus reseñas</h4>
        </div>
        <div class="row featured__filter" id="userReviews">
            {{#reviews}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__text">
                        <i class="fa fa-calendar-o"></i> {{date}}
                        <h6 class="bold"><a href="/book/{{book.id}}">{{book.title}}</a></h6>
                        {{text}}
                    </div>
                    <div class="blog__item__text text-center">
                        <a title="Editar" href="/modify-review/{{id}}" class="blog__btn"><i
                                class="fa fa-pencil"></i></a>
                        <a title="Eliminar" href="/delete-review/{{id}}" class="blog__btn"><i
                                class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
            {{/reviews}}
        
            {{^reviews}}
            <p id="noMoreUserReviews">Actualmente no tienes reseñas publicadas</p>
            {{/reviews}}
        </div>
        
        <button type="button" class="site-btn" id="moreReviewsContentButton" onClick=moreUserReviews()>
            <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                style="display: none"></span>
            <span id="moreContentText">Cargar más</span>
        </button>
    </div>

</section>
<!-- Reviews Section End -->



<!-- Shopping history Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Tus historial de compraventa</h4>
        </div>
        <div class="row featured__filter" id="userHistory">
            {{#historial}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                        <a href="/offer-page/{{id}}"><img src="/offers/{{id}}/image"></a>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/offer-page/{{id}}">{{book.title}}</a></h6>
                        <h5>{{price}}</h5>
                    </div>
                </div>
            </div>
            {{/historial}}

            {{^historial}}
            <p id="noMoreUserHistory">Actualmente no tienes historial de compra-venta</p>
            {{/historial}}
        </div>
        <button type="button" class="site-btn" id="moreHistorialContentButton" onClick=moreUserHistory()>
            <span class="spinner-border spinner-border-sm" id="moreContentSpinner" role="status" aria-hidden="true"
                style="display: none"></span>
            <span id="moreContentText">Cargar más</span>
        </button>
    </div>
</section>
<!-- Shopping history Section End -->

<!-- Footer -->
{{>footer}}